
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 200px;
    height: 150px;
    border: 5px darkgray solid;
    border-radius: 20px;
}
img:hover {
            transform: scale(1.1);
            transition: linear 0.5s;
        } 
h1 {
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: italic;
    margin: 30px 0;
}

.color-bg {
    background-color: rgb(104, 101, 101);
    min-height: 100vh;
    padding: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 35px;
    justify-items: center;
}

p {
    text-align: center;
    font-style: italic;
    color: white;
}

@media only screen and (max-width: 90vh) {
    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 35px;
        justify-items: center;
    }

    h1 {
        font-size: 60px;
    }
}